<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Concert Seat Booker</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="css/index.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <nav class="navbar justify-content-between">
            <div>
                <a href="/"><h1>NotePad</h1></a>
            </div>

            <div>
                <a href="/login"><button class="btn btn-dark my-2 my-sm-0">Login</button></a>
                <a href="/signup"><button class="btn btn-dark my-2 my-sm-0">Sign Up</button></a>
            </div>
        </nav>

        <h2>Keep track of your notes across all of your digital devices!</h2>

    </body>
</html>