<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    NoteTaker++ - Account Login
</h1>
<form action="/login" method="POST">
    Username: <input type="text" name="uName"> <br>
    Password: <input type="text" name="pWord"> <br> <br>
    <button>Login</button> <br> <br>
</form>
<form action="/home" >
    <button>Home</button> <br> <br>
</form>




</body>
</html>