body{
    background-image: url("../img/background.jpeg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
head{
    background-color: white;
}
img {
    opacity: 0.5;
}
h1{
    margin-left: 70px;
    margin-top: 25px;
}
h2{
    margin-left: 70px;
    margin-top: 25px;
}